@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #1c1c1c;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
}

.screen {
  height: 5rem;
  margin-bottom: 0.5rem;
  color: white;
}

.wrapper {
  background: black;
  width: 20rem;
  padding: 2rem;
  margin-top: 4rem;
  border-radius: 1rem;
  box-shadow: 0px 9px 15px -3px rgba(0, 0, 0, 0.1);
}

.buttonBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.button {
  background: #333333;
  height: 3.5rem;
  padding: 10px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  border: none;
  font-size: 1.6rem;
}

.button:hover {
  border: 2px solid black;
}

.equals {
  background: #ff9f0a;
  grid-column: 3/5;
}

.opt {
  background: #ff9f0a;
}

.grey {
  background: #a5a5a5;
  color: black;
}
